$primary: #1976d2;
$secondary: #dc004e;
$error: #f44336;
$warning: #ff9800;
$info: #2196f3;
$success: #4caf50;

$primary-dark: #115293;
$secondary-dark: #9a0036;
$error-dark: #d32f2f;
$warning-dark: #f57c00;
$info-dark: #1976d2;
$success-dark: #388e3c;

$primary-light: #4791db;
$secondary-light: #e33371;
$error-light: #e57373;
$warning-light: #ffb74d;
$info-light: #64b5f6;
$success-light: #81c784;

$white: #fff;
$black: #000;
